body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4f4f4;
  color: #0f0f21;
}

header {
  background-color: #1f2937;
  color: white;
  padding: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-header {
  height: 80px;
  width: auto;
  border-radius: 16px;
  margin-right: 18px;
  object-fit: cover;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

nav {
  background: #111827;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

nav a {
  color: white;
  padding: 15px 20px;
  text-decoration: none;
}

nav a:hover {
  background: #374151;
}

.hero {
  background: url("https://images.unsplash.com/photo-1515923162037-7c1f4b6c60b3")
    center/cover no-repeat;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(12, 1, 1);
  text-align: center;
  padding: 20px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.container {
  padding: 40px 20px;
  max-width: 1100px;
  margin: auto;
}

.services {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
}

.card:hover {
  transform: scale(1.04);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.checklist {
  margin-top: 20px;
  line-height: 1.8;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 500px;
}

input,
textarea {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

iframe {
  width: 100%;
  height: 300px;
  border: none;
  margin-top: 20px;
}

button {
  background: #2563eb;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #1d4ed8;
}

.call-btn {
  display: inline-block;
  margin-top: 15px;
  background: #16a34a;
  padding: 12px 20px;
  border-radius: 5px;
  color: white;
  text-decoration: none;
}

footer {
  background: #1f2937;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
}
